.table1 {
margin: 0 auto;
border: 5px solid darkorchid;
width: 40%;
}
.table1 td {
border: 1px solid darkorchid;
}
.table1 tr td:first-child {
width: 150px;
}
.table1 tr:last-child td {
height: 150px;
}
.table2 {
caption-side: bottom;
border-collapse: separate;
border-spacing: 20px;
width: 60%;
border: 2px solid green;
}
.table2 td {
padding: 0;
border: 2px solid green;
}
.table3 {
caption-side: bottom;
border-collapse: separate;
border-spacing: 20px;
width: 60%;
border: 2px solid orangered;
}
.table3 td {
padding: 0;
}
.blue-border {
border: 2px solid blue;
}
.green-borderb {
border: 2px solid green;
}
.orangered-border {
border: 2px solid orangered;
}
.table4 {
border-spacing: 0;
border: 1px solid green;
caption-side: bottom;
}
.table4 th, .table4 td {
border: 1px solid green;
padding: 0.5em 0.5em;
width: 11em;
}
.table4 th:first-child {
color: blue;
}
.table4 td:last-child {
color: pink;
}
.table5 {
caption-side: bottom;
border-color: pink;
border-style: double;
}
.table5 td {
width: 12em;
}
.table5 tr:last-child {
background-color: rgb(0, 255, 0);
text-align: center;
}
.table5 tr:nth-child(2) td:nth-child(2) {
text-align: center;
background-color: lightgreen;
}
.table6 {
border-spacing: 1px;
border: 0.1px solid black;
padding: 5px;
}
.table6 th, .table6 td {
border: 0.1px solid black;
padding: 10px;
}
.table7 {
margin: 0 auto;
caption-side: bottom;
border-spacing: 0;
border: 2px solid blue;
}
.table7 td {
height: 15px;
width: 170px;
width: 100px;
}
.borderTop {
border-top: 1px solid blue;
}
.borderBottom {
border-bottom: 1px solid blue;
}
.borderRight {
border-right: 1px solid blue;
}
.borderLeft {
border-left: 1px solid blue;
}
.blue-cell {
background-color: lightblue;
}
.pink-cell {
background-color: hotpink;
}
.yellow-cell {
background-color: pink;
}
.table8 {
margin: 0 auto;
border: 2px solid powderblue;
}
.table8 td {
border: 2px solid powderblue;
}
.table8_1 {
caption-side: bottom;
border-spacing: 0;
border: 1px solid pink;
}
.table8_2 {
caption-side: bottom;
border-spacing: 0;
border: 1px solid rebeccapurple;
}
.table8_1 td {
border: 1px solid pink;
}
.table8_2 td {
border: 1px solid rebeccapurple;
}
